<main class="content" id="main">
  <div class="mx-auto max-w-2.5xl">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="space-y-10">
        <div class="border-b border-gray-200 pb-12">
          <div class="text-base text-gray-900 font-semibold">Profile</div>
          <div class="mt-1 text-sm text-gray-500">Personal information</div>
          <div class="mt-6 flex flex-col gap-y-6">
            <div class="field">
              <%= f.label :email, class: "label" %>
              <%= f.email_field :email, class: "form-control block w-full" %>
            </div>
          </div>
        </div>
        <div class="border-b border-gray-200 pb-12">
          <div class="text-base text-gray-900 font-semibold">Change Password</div>
          <div class="mt-1 text-sm text-gray-500">Update your password associated with your account.</div>
          <div class="mt-6 flex flex-col gap-y-6">
            <div class="field">
              <div class="flex flex-col gap-x-3 mb-2 md:flex-row md:items-center">
                <div class="text-sm leading-6 text-gray-900 font-medium">New Password</div>
                <div class="text-sm italic text-gray-500">(leave blank if you don't want to change it)</div>
              </div>
              <%= f.password_field :password, class: "form-control block w-full" %>
            </div>
            <div class="field">
              <label class="label" for="user_password_confirmation">Confirm password</label>
              <%= f.password_field :password_confirmation, class: "form-control block w-full" %>
            </div>
            <div class="field">
              <div class="flex flex-col gap-x-3 mb-2 md:flex-row md:items-center">
                <div class="text-sm leading-6 text-gray-900 font-medium">Current password</div>
                <div class="text-sm italic text-gray-500">(we need your current password to confirm your changes)</div>
              </div>
              <%= f.password_field :current_password, class: "form-control block w-full" %>
            </div>
          </div>
        </div>
      </div>
      <div class="actions mt-6 mb-6 flex items-center justify-end gap-x-3">
        <%= f.submit "Update", class: "btn block bg-orange-500 text-white px-3 py-2 hover:bg-orange-600" %>
      </div>
    <% end %>
  </div>
</main>
