<main class="mx-auto max-w-96" id="main">
  <h1 class="text-2xl leading-9 font-bold mb-6 xl:text-4xl">Reset password</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, class: "form-control block w-full" %>
    </div>

    <div class="actions">
      <%= f.submit "Send reset email", class: "btn block w-full bg-orange-500 text-white px-3.5 py-2.5 hover:bg-orange-600" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
