<main class="mx-auto max-w-96" id="main">
  <h1 class="text-2xl leading-9 font-bold mb-6 xl:text-4xl">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "form-control block w-full", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, class: "form-control block w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-blue-500 focus:text-blue-500" %>
          </div>
          <div class="text-sm leading-6">
            <%= f.label :remember_me, class: "text-gray-700" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn block w-full bg-orange-500 text-white px-3.5 py-2.5 hover:bg-orange-600" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
