<main class="content" id="main" data-controller="post">
  <section class="header">
    <header class="flex items-center justify-between">
      <h1 class="text-base text-gray-900 font-semibold">Posts</h1>
      <div class="ml-4">
        <%= link_to "Create post", new_posts_path, class: "btn block bg-orange-500 text-white px-3 py-2 hover:bg-orange-600" %>
      </div>
    </header>
    <nav class="tab mt-4">
      <%= link_to "Published", posts_index_path(tab: "published"), class: class_names("tab-link", { active: current_page?(posts_index_path(tab: "published")) }) %>
      <%= link_to "Draft", posts_index_path(tab: "draft"), class: class_names("tab-link", { active: current_page?(posts_index_path(tab: "draft")) }) %>
    </nav>
  </section>
  <ul role="list">
    <% @posts.each do |post| %>

        <li class="flex items-center justify-between gap-x-6 py-5">
          <div class="min-w-0">
            <p class="text-sm font-semibold leading-6 text-gray-900"><%= post.title %></p>
            <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
              <p class="whitespace-nowrap">
                <time><%= post.created_at.strftime("%b %d, %Y") %></time>
              </p>
              <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                <circle r="1" cx="1" cy="1"></circle>
              </svg>
              <p class="ads">Created by Author</p>
            </div>
          </div>
          <div class="flex flex-none items-center gap-x-4">
            <%= link_to "View post", blog_path(post.slug), class: "btn text-neutral-500 px-2.5 py-1.5 ring-1 ring-inset ring-gray-200 hover:text-gray-900 hover:bg-gray-50" %>
            <div class="relative flex-none" data-controller="button" data-button-toggle-class="in">
              <button type="button" class="btn text-neutral-500 p-2.5 hover:text-gray-900" data-action="click->button#toggle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5">
                  <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"></path>
                </svg>
              </button>
              <div class="absolute right-0 z-10 mt-1 w-38 origin-top-right rounded bg-white py-1 shadow-lg ring-1 ring-gray-300 lg:mt-2 collapse" data-button-target="reveal">
                <%= link_to "Edit", edit_post_path(post), class: "block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-100" %>
                <% if post.status == "PUBLISHED" %>
                  <%= button_to "Move to Draft", toggle_post_status_path(post, status: "draft"), method: :patch, data: { "turbo-frame": "_top" }, class: "block w-full px-3 py-1.5 text-sm text-gray-700 text-left hover:bg-gray-100" %>
                <% else %>
                  <%= button_to "Move to Published", toggle_post_status_path(post, status: "published"), method: :patch, data: { "turbo-frame": "_top" }, class: "block w-full px-3 py-1.5 text-sm text-gray-700 text-left hover:bg-gray-100" %>
                <% end %>
              </div>
            </div>
          </div>
        </li>

    <% end %>
  </ul>
</main>
